@font-face {
  font-family: 'digi';
  src: url('http://cssdeck.com/uploads/resources/fonts/digii/DS-DIGII.TTF');
}

body {
  padding-top: 60px;
}
.table-hover tr {
  cursor: pointer;
}

h2 {
  color: #CF1D1D;
}

h2#clock {
  color: black;
  margin: 0;
  font-weight: normal;
  font-family: digi;
}

ul.grid {
  margin:0 auto;
}

li.block {
  display: inline-block;
  width: 16.6%;
  margin: 5px;
  text-align: center;
}

form#guess {
  margin: 0 0 2px;
}