body {
  padding-top: 60px;
}
.table-hover tr {
  cursor: pointer;
}

h2 {
  color: #CF1D1D;
}

ul.grid {
  margin:0 auto;
}

li.block {
  display: inline-block;
  width: 10%;
  margin: 5px;
}

form#guess {
  margin: 0 0 2px;
}